<md-content>
    <br>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <button md-button class="md-icon-button" aria-label="Settings" (click)="clicked('Menu')">
                <md-icon class="material-icons">menu</md-icon>
            </button>
            <h2>
                <span>Angular 2 Scaffold</span>
            </h2>
            <span flex></span>
            <button md-button class="md-icon-button" aria-label="Favorite" (click)="clicked('Favorite')">
                <md-icon class="material-icons">favorite</md-icon>
            </button>
            <login-component></login-component>
        </div>
    </md-toolbar>

    <home-dash></home-dash>
</md-content>
