<md-content class="md-padding" layout="row" layout-wrap layout-align="start start">
    <div flex="50" flex-xs="100" layout="column">
        <md-card>
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Angular 2 Scaffold</span>
                </h2>
            </md-toolbar>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">dotnetcli RC3, ng2-material and Auth0</span>
                    <span class="md-subhead">developed using VSCode</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div>{{ response }}</div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <button (click)="doApiCheck()" md-raised-button class="md-raised md-primary">Api Check</button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>