<dialog class="mdl-dialog" *ngIf="user" style="width:800px">
    <h4 class="mdl-dialog__title" [ngStyle]="userPictureStyle"></h4>
    <div class="mdl-dialog__content">
        <div class="mdl-grid" style="max-height:200px; overflow-x:hidden; overflow-y: scroll;">
            <div class="mdl-cell mdl-cell--6-col" style="white-space:nowrap; overflow-x:hidden;" *ngFor="let item of getUserProperties()">
                <span class="key-name">{{item}}:</span>
                <span class="key-value">{{user[item]}}</span>
            </div>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" (click)="auth.logout()">Logout</button>
        <button type="button" class="mdl-button close" (click)="close()">Close</button>
    </div>
</dialog>