<md-card>
    <md-card-subtitle>you will only see this once</md-card-subtitle>
    <md-card-title>Get started</md-card-title>
    <md-card-content class="container">
        <div class="row">
            <div class="col-md-3">
                Do you have any questions?
            </div>
            <div class="col-md-1">
                <md-radio-group [(ngModel)]="questions">
                    <div>
                        <md-radio-button [value]="false">no</md-radio-button>
                    </div>
                    <div>
                        <md-radio-button [value]="true">yes</md-radio-button>
                    </div>
                </md-radio-group>
            </div>
            <div class="col-md-5">
                <div *ngIf="questions">
                    Sorry, you are not the type of person we are looking for
                </div>
            </div>
        </div>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button [disabled]="questions" (click)="create()" class="btn btn-success-outline">Create Account</button>
    </md-card-actions>
</md-card>