md-card {
    margin: 16px;
}

img {
    background-color: gray; 
}

md-card-actions {
    display: flex 1 1 auto;
    flex-direction: row;
    text-align: end;
    button {
        margin-right: 6px;
    }
}

.fail-icon {
    color:red;
    margin-top: 3px;
}

.success-icon {
    color: green;
}