md-card {
    width:250px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 8000;
}

md-card-actions {
    display: flex;
    flex-direction: column;
}

md-card-actions button {
    margin: 6px;
}

md-list {
    max-height: 120px;
    overflow-y: auto;
}

.key-name {
    opacity: .54;
    font-size: smaller;
}

.crop {
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 500px;
    height: 500px;
    margin: -75px 0 0 -100px;
}