<md-card *ngIf="user">
    <md-card-subtitle>{{ user.email }}</md-card-subtitle>
    <md-card-title>{{ user.nickname }}</md-card-title>
    <div class="crop">
        <img class="profile-image" md-card-image [src]="user.picture" />
    </div>
    <md-card-content>
        <md-list>
            <md-list-item *ngFor='let item of getUserProperties()'>
                <p md-line class="demo-secondary-text"><span class="key-name">{{item}}:</span> <span class="key-value">{{user[item]}}</span></p>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button class="md-primary" (click)="auth.logout()">Logout</button>
    </md-card-actions>
</md-card>