<md-sidenav-layout fullscreen>
  <md-sidenav [opened]="toggleSidebar" #start mode="over">
    <md-nav-list>
      <a md-list-item [routerLink]="['home']">Home</a>
      <a md-list-item [routerLink]="['dash']">Dash</a>
      <a md-list-item [routerLink]="['jobs']">Jobs</a>
      <a md-list-item [routerLink]="['jobs']">Job 1</a>
      <a md-list-item [routerLink]="['jobs']">Job 2</a>
      <a md-list-item [routerLink]="['jobs']">Job 3</a>
      <a md-list-item [routerLink]="['jobs']">Job 4</a>
      <a md-list-item [routerLink]="['jobs']">Job 5</a>
    </md-nav-list>
  </md-sidenav>
  <ng-content></ng-content>
</md-sidenav-layout>
