<div *ngIf="auth.authenticated()">
    <h4 class="mdl-dialog__title" [ngStyle]="userPictureStyle"></h4>
    <div class="mdl-dialog__content">
        <div class="mdl-grid" style="overflow-x:hidden; overflow-y: auto;">
            <div class="mdl-cell mdl-cell--4-col" style="white-space:nowrap; overflow-x:hidden;" *ngFor="let item of getUserProperties()">
                <span class="key-name">{{item}}:</span>
                <span class="key-value">{{auth.user[item]}}</span>
            </div>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" (click)="auth.logout()">Logout</button>
    </div>
</div>