.key-name {
    opacity: .54;
    font-size: smaller;
}

@media (max-width: 479px)
{
    .mdl-cell {
        margin: 0px 8px;
    }     
}

.mdl-layout__content {
    display: flex;
}

.fullHeight {
    display: -webkit-flex; 
    display: flex; 
}

// .fullHeight > .mdl-cell {
//     display: block;
// }
